.listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #263555;
    padding: 10px;
    border-radius: 5px;
}
.listItemTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.listItemTitle i{
    color: orange;
    font-size: 18px;
}
.listItemTitle p{
    color: #b8b8b8;
}
.listItem input{
    padding: 8px;
    background-color: #19253E;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}
.listItem .cooke_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.listItem .cooke_icon i{
    width: 30px;
    height: 30px;
    border: 2px solid #020817;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.listItem .cooke_icon i:nth-child(1){
    color: orange;
}
.listItem .cooke_icon i:nth-last-child(1){
    color: red;
}